/*@import "bootstrap.min.css";*/
/*@import "bootstrap-responsive.min.css";*/

$red: #EA2E49;
$green: #6cba2c;
$blue: #3498db;

.wf-loading { visibility: hidden; }

body {
  background-color: white;
  font-family: 'proxima-nova', sans-serif;
  font-size: 17px;
  line-height: 25px;
}

a {
  color: $red;
  &:hover { color: darken($red, 10%); }
}

blockquote {
  border-left: 10px solid $red;
  padding: 0 20px;
}

.centered { text-align: center; }
.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }

.bullet {
  &.last { margin-bottom: 20px; }

  i {
    font-size: 18px;
    margin-right: 10px;
  }
}

.header {
  text-transform: uppercase;
  background: #f2f2f2;
  border-bottom: 3px solid #ddd;

  h1 {
    display: inline-block;
    font-size: 56px;
    letter-spacing: -3px;
    line-height: 96px;

    a {
      color: black;
      &:hover {
        color: #222;

        text-decoration: none;
      }
    }

    span {
      color: #3D3D3D;
      font-size: 40px;
      letter-spacing: -1px;
    }
  }
}

nav {
  font-size: 14px;
  font-weight: 800;
  margin-top: 40px;

  a {
    color: #808080;
    margin: 0 0 0 20px;
    padding: 0;

    &:first-child { margin-left: 0px; }
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
}

section {
  padding: 100px 0;

  h1, h2, h3, h4, h5, h6 { font-family: "museo-slab", georgia, serif; }

  h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 35px;
  }

  p { margin-bottom: 15px; }
}

.service {
  a {
    color: #222;
    border: 1px solid #ddd;
    border-radius: 7px;
    display: block;
    padding: 20px;
    margin: 0px 0px 40px 0px;

    &:hover {
      background-color: #f6f6f6;
      text-decoration: none;
    }

    h2 {
      font-family: "museo-slab";
    }
  }
}

.about {
  img {
    border-radius: 5px;
    margin: 0px 10px 0px 0;
    height: 72px;
  }
}

@media (max-width: 767px) {
  body { padding: 0; }
  .container { padding: 0 20px; }
  nav {
    display: block;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
  .header {
    h1 {
      display: block;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
    }
  }
}

footer {
  background:#3D3D3D; width: 100%;
  p {
    padding: 14px 0;
    margin: 0;
    color: white;
    text-align: center;
    text-shadow: 0 2px rgba(0, 0, 0, 0.3);
  }
  a {
    color: #666;
    text-decoration: none;
  }
  a:hover {
    color: #000000;
    text-decoration: none;
  }
}

.btn {
  &.btn-gorails {
    background-image: none;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
  }

  &.btn-gorails-blue {
    background-color: $blue;
    &:hover { background-color: darken($blue, 10%); }
  }
  &.btn-gorails-green {
    background-color: $green;
    &:hover { background-color: darken($green, 5%); }
  }
  &.btn-gorails-red {
    background-color: $red;
    &:hover { background-color: darken($red, 10%); }
  }

  &.btn-large {
    padding: 15px 30px;
    margin: 30px 0;
  }
}

.info h2 {
  font-size: 100px;
}

.light-well {
  background-color: #f4f4f4;
  border-radius: 10px;
  font-weight: 200;
  padding: 15px;
}

#blog {
  .separater { margin-bottom: 80px; }
  .blog-navigation { overflow: hidden; margin: 60px 0; }
}

#archive {
  ul {
    list-style-type: none;
  }

  time {
    color: #888;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 15px;
    text-align: right;
    text-transform: uppercase;
    width: 65px;
  }
}

.contact-process {
  background: #f4f4f4;
  border-radius: 5px;
  margin-top: 120px;
  padding: 10px 20px;

  ol {
    li {
      margin-bottom: 15px;
    }
  }
}

p.archive {
  text-align: center;
  color: #888;
}
nav.share { text-align: center; }

.date {
  color: #888;
  font-size: 0.9em;
}

.article-content {
  a {
    color: #222;
    border-bottom: 2px solid #e6e6e6;

    &:hover {
      color: $red;
      border-color: $red;
      text-decoration: none;
    }
  }
}
