<div class="span6 offset3">
  <div class="light-well about">
    <div class="pull-left">
      <img src="http://www.gravatar.com/avatar/ce795239ba5dd2384fc2f88ffaff5451.png" alt="Chris Oliver" />
    </div>
    <p>Hi, I'm Chris Oliver. I do web development using Ruby on Rails and Javascript in Saint Louis, MO. My programming career started in the seventh grade, building open source software, spending a summer participating in Google Summer of Code, and eventually getting into web development with Python and Ruby on Rails. I moved to Saint Louis to spend more time with other developers and grow the developer community.</p>
  </div>
</div>
