<!--
<div id="footer-nav">
  <ul>
    <li><a class="home" href="http://excid3.com/blog">home</a></li>
    <li><a class="rss" href="http://feeds.feedburner.com/excid3">rss feed</a></li>
    <li><a class="archives" href="http://excid3.com/blog/archives/">archives</a></li>
    <li><a class="email" href="mailto:chris@excid3.com?subject=hello!">say hello</a></li>
    <li><a class="twitter" href="http://twitter.com/excid3">twitter</a></li>
    <li><a class="github" href="http://github.com/excid3">github</a></li>
  </ul>
</div>
-->

<footer>
  <p>Do things that scare you.</p>
</footer>
