<div class="fluid-container header">
  <div class="container">
    <nav class="pull-right">
      <!--<a href="http://gorails.com" class="btn btn-gorails btn-gorails-green">Learn Ruby On Rails</a>-->
      <a href="/prototype">Prototype</a>
      <a href="/improve">Improve</a>
      <a href="/grow">Grow</a>
      <a href="/blog">Blog</a>
      <a href="/blog/archive">Archive</a>
      <a href="/contact" class="btn btn-gorails btn-gorails-red">Hire Me</a>
    </nav>
    <h1 class="name"><a href="/">Chris Oliver</a></h1>
  </div>
</div>
