.site-header {
  height: 70px;
  line-height: 70px;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  margin-bottom: 60px;

  .site-title {
    color: #000;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: -0.04em;
    margin: 20px;
    text-transform: uppercase;
  }

  .site-nav {
    float: right;

    a {
      color: #000;
      font-weight: 800;
      margin-right: 20px;
    }
  }
}

h1 {
  color: $text-color;
  font-size: 79px;
  line-height: 82px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h2 {
  color: $text-color;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: -0.04em;
  margin-top: 80px;
}

.home {
  color: #858585;
  text-align: center;

  .learnings {
    margin: 0;

    li {
      list-style-type: none;
      padding: 5px 0px;

      a {
        color: $text-color;

        &:hover {
          color: #4F8EF7;
        }
      }
    }
  }

  .social-links {
    a {
      font-weight: 800;
    }
  }
}

.blog-navigation {
  margin: 40px 0px;
  overflow: hidden;
}

.icon-link {
  .ion {
    margin-left: -5px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  &:hover {
    text-decoration: none;

    .ion {
      margin-left: 0;
      opacity: 1;
    }
  }
}

.archive {
  ul {
    list-style-type: none;
  }

  time {
    color: #888;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 15px;
    text-align: right;
    text-transform: uppercase;
    width: 65px;
  }
}

footer {
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 800;
  height: 70px;
  line-height: 70px;
  margin: 70px 0px 0px 0px;
  padding: 0px 20px;
  text-transform: uppercase;

  a.icon-link {
    color: #4F8EF7;
  }
}
