<!DOCTYPE html>
<html>
  <head>
    <title>Blog | Chris Oliver | St. Louis Ruby on Rails Web Developer</title>

    
    <meta name="author" content="Chris Oliver">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="k8E8tt4Xn45P84zs5M6Z-4cMIGwdbGMJSDSkL6VzvMk" />

    <link rel="alternate" type="application/rss+xml" title="Chris Oliver / excid3.com Feed" href="http://excid3.com/feed.xml"/>

    <!--<link rel="shortcut icon" href="favicon.png">-->
    <link href='/assets/global-c224c07eca6e857790f0324871c8800e.css' rel='stylesheet' type='text/css' />


    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <script type="text/javascript" data-cfasync="false">
      (function() {
        var config = {
          kitId: 'voa6eso',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>

    <link href="https://plus.google.com/106699287110566383664/" rel="author" />
  </head>
  <body>
    <div class="fluid-container header">
  <div class="container">
    <nav class="pull-right">
      <!--<a href="http://gorails.com" class="btn btn-gorails btn-gorails-green">Learn Ruby On Rails</a>-->
      <!--<a href="/prototype">Prototype</a>
      <a href="/improve">Improve</a>
      <a>|</a>-->
      <a href="http://gorails.com">Learn Ruby on Rails</a>
      <a>|</a>
      <a href="/blog">Blog</a>
      <a href="/contact" class="btn btn-gorails btn-gorails-red">Hire Me</a>
    </nav>
    <h1 class="name"><a href="/">Chris Oliver</a></h1>
  </div>
</div>


    <section id="blog">
  <div class="container">
    <div class="row">
      <div class="span8 offset2">

        <p class="archive">Looking for old posts? Visit the <a href="/blog/archive">archive</a>.</p>

        
          <article class="first">
            <div class="article-head">
              <h2 class="title"><a href="/blog/10-ideas-for-beginner-web-developers" class="js-pjax">10 Ideas for Beginner Web Developers</a></h2>
              <p class="date">Jul 11, 2011</p>
            </div><!--/.article-head-->
            <div class="article-content">
              <p>My friend <a href="http://chrisdomurad.com/">Chris Domurad</a> tweeted this to me earlier today:</p>

<blockquote><p>@<a href="https://twitter.com/excid3">excid3</a> I’ve been looking online for a list of app to create when learning a new language, can’t find a definitive list though</p>

<p>— Christopher Domurad (@ChrisDomurad) <a href="https://twitter.com/ChrisDomurad/status/86789708742533120">July 1, 2011</a></p></blockquote>

<p>A lot of people are moving towards the web. Things like Rails, Django, NodeJS and other frameworks are very attractive to new developers. It’s a relatively easy way for them to become noticed in the community but many times they don’t know where to start.</p>

<p>I landed a job doing Rails development without knowing Rails beforehand. I felt like a bad hire for the longest time because I could not write good code. The way I learn best is by doing. No matter how many books or tutorials I read, it just doesn’t click until I try to develop something. So here are a few web applications I wrote to learn Rails as a beginner just under a year ago.</p>

<p> </p>

<ol>
<li> Simple blog with comments</li>
<li> Pastebin that has short urls (Google some short url algorithms)</li>
<li> Make a todo list website (without Javascript)</li>
<li> Go back and add authentication (I used devise) to #1 and #2</li>
<li> Build a site to send text messages for you using <a href="http://twilio.com">Twilio</a></li>
<li> Create a small site to upload files to using Amazon S3′s free account</li>
<li> Go Back to #3 and Ajaxify it all. Add user accounts (with email reminders). I built <a href="http://fluttrly.com">Fluttrly.com</a> somewhat like this.</li>
<li> Build your own JSON and XML API onto #3 or any of the other sites</li>
<li> Now take that API you just built and create a Ruby gem out of it using ActiveResource</li>
<li>. Certainly by now you should have come up with some ideas of your own that you’d like to build. If not, go build an expense tracker with pretty graphs and export to CSV or Freshbooks functionality.</li>
</ol>


<p> </p>

<p><img src="http://excid3.com/blog/wp-content/uploads/2011/07/404.jpg" title="404" alt="" /></p>

<p>Don’t spend much time building any of these projects. Get the to minimum list of requirements you’d like each site to have and move onto the next one. Do them over the weekend and don’t let them stagnate for too long.</p>

<p>Build it, complete it, tackle the next project. You can always come back later and revise it because guess what? 90% of software development is maintenance or integrating with existing systems.</p>

<p>These are sites you want to build upon as you grow as a developer. Build the blog one weekend, revisit it 8 weeks later and refactor it. You will be amazed by how poor of code you wrote just a few weeks ago.</p>

<p>Bonus points if you open source them, get your friends interested, and start applying their patches.</p>

<p>If you have other (better?) ideas, leave them in the comments. This is just how I learned, so it may not be for everyone, but it sure brought me up to speed and within about 8 months of doing web development with Rails I had already submitted and gotten my first patch accepted into Rails core.</p>

<p>Read this in <a href="http://science.webhostinggeeks.com/10-ideja-za-pocetnike">Serbo-Croatian</a> language by Jovana Milutinovich from <a href="http://webhostinggeeks.com/"> Web Geeks Resources</a></p>

            </div><!--/.article-content-->
          </article>
          <div class="separater"></div>
        
          <article class="middle">
            <div class="article-head">
              <h2 class="title"><a href="/blog/recursive-layout-with-jekyll-and-liquid" class="js-pjax">Recursive Layout with Jekyll and Liquid</a></h2>
              <p class="date">Jul 04, 2011</p>
            </div><!--/.article-head-->
            <div class="article-content">
              <p>I’ve been working a fair bit with <a href="http://jekyllrb.com">Jekyll</a> recently. I have to say, I love it. The flexibility and simplicity of it is great and works wonderfully if you want a static, and yet, easy to manage website. There is little that tops it in that respect.</p>

<p>Something I’ve wanted recently from it was a recursive layout. I wanted a tree style navigation menu. The best way to do this of course, would be to have a recursive include layout using Liquid. And yet, it wasn’t easy to find ANY working examples for this.</p>

<p>The documentation states that you can pass variables into the include statement for easy use, much like Rails partials. I fought and I fought, tears were shed, children were left injured, and still, Jekyll was having none of that.</p>

<p>My only working approach for building a recursive include was building the basic layout as such:</p>

<pre><code>&lt;ul&gt;
  {% for item in tree %}
    &lt;li&gt;&lt;a href="{{ item.href }}"&gt;{{ item.title }}&lt;/a&gt;&lt;/li&gt;

    {% if item.subtree %}
      {% assign tree = item.tree %}
      {% include tree.html %}
    {% endif %}
  {% endfor %}
&lt;/ul&gt;
</code></pre>

<p>The key things to note here are the assign statement and the include. You can take these two lines and put them into any main layout and replace <code>item.tree</code> with <code>page.tree</code> to have it use the page’s tree variable and this will recursively render the tree with liquid layouts.</p>

<p>From every single documentation page I saw, you could pass in the variable in the include statement. That didn’t work. AND they showed multiple ways of declaring which include to use. Those didn’t work either. I haven’t delved into Jekyll too much, but it’s certainly possible a slight configuration change is all that it needs to support Liquid’s actual functionality correctly. Either way, this works for lazy old me.</p>

            </div><!--/.article-content-->
          </article>
          <div class="separater"></div>
        
          <article class="last">
            <div class="article-head">
              <h2 class="title"><a href="/blog/running-background-daemon-scripts-with-jenkins" class="js-pjax">Running Background Daemon Scripts With Jenkins</a></h2>
              <p class="date">Jun 27, 2011</p>
            </div><!--/.article-head-->
            <div class="article-content">
              <p>If you write code with tests and aren’t using some form of continuous integration, shame on you. It’s incredibly awesome, and if something goes wrong you can hear coworkers yell “WHAT THE HELL DID YOU BREAK?” across the room.</p>

<p>With <a href="http://jenkins-ci.org/">Jenkins</a>, you configure it to look at a repository and provide something to run when new commits are pushed. In most cases, this will be running your tests. When they complete successfully Jenkins will give you a high five. When you don’t, well, everyone in the office gets spammed about your failure so that you can fix it before you get too far down the road and end up breaking something serious without knowing it. At least that’s the hope if you’ve got well written tests.</p>

<p>Now sometimes you want to use Jenkins for somewhat related things. At work we’re integrating our documentation generator (which I helped design and build as my first project). We’ve got a script that builds our full suite of documentation pages for all of our projects. So what better way to build that, than to have developers document and tag versions with git and then have Jenkins automatically build and deploy new versions of the website automatically?</p>

<p>We had already completed the documentation generation and written a script for Jenkins to restart the internal webserver to serve up the new documentation. It didn’t go quite as planned. You see, Jenkins is awesome. It knows to kill each process after it runs in case something failed. Maybe you create a daemon in your tests and it would get accidentally left over on test failure, so it knows better and kills it.</p>

<p>In our case, that’s not what we wanted. We wanted our webserver process to launch from there and stay running after Jenkins was finished. As it turns out, Jenkins sets the BUILD_ID environment variable and uses that to kill off processes at the end of each build. If you want to have a command continue running, just set the BUILD_ID to something else like so:</p>

<pre><code>BUILD_ID=WhateverYouWant python -m SimpleHTTPServer 80
</code></pre>

<p>It’s as simple as that. Now go start using Jenkins for everything you can think of. Automation is great.</p>

            </div><!--/.article-content-->
          </article>
          
        

        <div class="blog-navigation">

          <!--<span class="page_number ">Page: 41 of 79</span>-->

          <div class="pull-left">
            
              <a href="/blog/page-42" class="btn btn-gorails btn-gorails-red next">← Older Posts</a>
            
          </div>

          <div class="pull-right">
            
              
                <a href="/blog/page-40" class="btn btn-gorails btn-gorails-red previous">Newer Posts →</a>
              
            
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


    <!--
<div id="footer-nav">
  <ul>
    <li><a class="home" href="http://excid3.com/blog">home</a></li>
    <li><a class="rss" href="http://feeds.feedburner.com/excid3">rss feed</a></li>
    <li><a class="archives" href="http://excid3.com/blog/archives/">archives</a></li>
    <li><a class="email" href="mailto:chris@excid3.com?subject=hello!">say hello</a></li>
    <li><a class="twitter" href="http://twitter.com/excid3">twitter</a></li>
    <li><a class="github" href="http://github.com/excid3">github</a></li>
  </ul>
</div>
-->


<footer class="clearfix">
  <div class="container">
    <p class="pull-left">Do things that scare you.</p>
    <p class="pull-right">Learn about <a href="http://gorails.com/st-louis-ruby-on-rails">St. Louis Ruby on Rails</a></p>
  </div>
</footer>


    <!-- Google Analytics -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8399719-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </body>
</html>
